'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'ESLint'
      'submenu': [
        { 'label': 'Lint File', 'command': 'eslint:lint' }
        { 'label': 'Reload .eslintrc', 'command': 'eslint:reload-config' }
      ]
    ]
  }
]
